
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


main {
    padding: 20px;
    text-align: center;
}


form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid red; 
    border-radius: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid red; 
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

h1, p {
    color: #333;
}


fieldset {
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    padding: 5px;
    color: red;
}


img {
    vertical-align: middle;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
